@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

iframe,
img,
video {
  display: block;
  max-width: 100%;
}
